@import "_variables";
.banner {
  margin: 0 auto;
  width: 50vw;
  background-color: $background_banners;
  animation: anime 3s infinite;
  .box {
    height: 100px;
    border: 1px solid red;
    text-align: center;
  }

  @keyframes anime {
    0% {
      transform: rotateX(0deg);
    }
    100% {
      transform: rotateX(359deg);
    }
  }
}
